body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

h1 {
    flex-direction: row;
}

#header-container p {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}



#information-about-the-purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
}

input, select {
    width: 100%;
}

table {
    width: 90%;
    /* padding: 50px; */
    border: 1px solid black;
    /* text-align: center; */
    border-spacing: 0px;
    border-collapse: collapse;
}

td, th {
    vertical-align: 0px;
}

th {
    color: red;
    margin-top: 0px;
    padding-top: 0px;
    width: 25%;
}

table th {
    text-align: left;
}

table td {
    text-align: left;
}




.ledger-list {
    display: flex;
    flex-direction: column;
}

.ledger-list div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ledger-list div p {
    padding: 5px;
    margin-top: -15px;
    
}