* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans',Arial,sans-serif;
    font-size: 20px;
    line-height: 19px;
    background-image: url(https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993__340.jpg);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: bold;
    margin: 50px 0 40px 0;
    color:white;
}

.budget-form,.expense-form {
margin-bottom: 30px;
padding:50px 95px;
border: 3px solid white;
border-radius: 10px;
background: lightgrey;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-add-button:hover,.button-reset:hover {
    background:darkgrey;
}
.form-group {
position: relative;
margin: 20px 10px;
}

.budget-input,.amount-input,.expense-input {
    width: 100%;
    height: 25px;
    text-align: center;
    color:grey;
}

.submit-add-button,.button-reset  {
padding: 10px 180px 10px 149px;
border-radius: 10px;
font-size: 17px;
width: 100%;
font-weight:bold;
}
.button-reset {
width: 70%;
margin: 10px 0 10px 100px;
}

h5 {
margin: 10px;
padding: 10px;
text-align: center;
font-size: 25px;
}

.expense-table {
margin: 10px;
padding: 10px;
border-collapse: collapse;
border: 5px solid white;
background:lightgrey;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 20px;
}

th, td {
padding: 20px;
text-align: left;
border-bottom: 5px solid #ddd;
  }

  th:hover, td:hover {
  background-color:darkgrey;
  }

.budget-icon,
.expense-icon,
.balance-icon {
  font-size: 50px;
  color: black;
  text-align:center;
  margin-left: 45px;
}
.budget-icon:hover,
.expense-icon:hover,
.balance-icon:hover {
    font-size:60px;
}
.budget-icon {
    color:green;
    margin-left: 30px;
}
.expense-icon {
    color: red;
    margin-left: 45px;
}


.info-title-budget,.info-title-expense,.info-title-balance {
  font-size: 25px;
  margin: 20px;
  margin-right: 10px;
  text-transform: uppercase;
  }
  .budget {
   font-size: 1.6rem;
   color: #2E8B57;
  }
  .expense {
    font-size: 1.6rem;
    color: darkred;
  }
  .balance {
    font-size: 1.6rem;
  }
  #display-all {
      display:flex;
      justify-content: center;
      margin-bottom: 20px;
      color:white;
  }

  .text-uppercase-budget,.text-uppercase-expense,.text-uppercase-balance {
    margin: 10px 5px 5px 45px;
    padding-left: 8px;
  }

  .logo {
      margin: 20px;
      color: orange;
  }
  .logo-green {
      color:#2E8B57;
  }
  .add-border {
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
    }
    .amount-input {
        text-align: center;
    }

  @media screen and (min-width: 768px){
    
.budget-form {
 position: absolute;
 top: 200px;
 left: 60px;   
 z-index:2;
 opacity: 1;
}
.expense-form {
position: absolute;
top: 500px;
left: 20px; 
z-index:2;
opacity: 1;
}
.expense-table {
position: absolute;
top: 500px;
right: 10px;
width: 60%; 
margin-bottom: 70px;
font-size: 25px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;  
}

#display-all {
position: absolute;
right: 300px;
margin: 150px 50px;
padding: 50px;
text-shadow: 2px 2px 4px #000;

}
.button-reset {
position: absolute;
top: 1000px;
margin-bottom: 20px;
width: 10%;
left: 650px;
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    text-shadow: 2px 2px 4px #000;
}
.submit-add-button  {
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    padding: 10px;
}
  }